fastapi
uvicorn[standard]
sqlalchemy
sqlmodel
python-multipart
scikit-learn
numpy
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
aiofiles
reportlab
python-dotenv
PyMuPDF
python-docx
openpyxl
psycopg2-binary
Pillow
copyleaks

# AI Army SDKs
openai
rarfile
google-generativeai
groq
anthropic
cohere
